{# src/Cairn/UserBundle/Resources/views/Security/new_password.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}
{% block body %}
    {{parent()}} 
    
    <h2>Nouveau mot de passe </h2>
    <h3>Saisir votre identifiant </h3>
    <div>                                                                          
        {{ form_start(form) }}
        {{form_end(form) }}
    </div>                                                                         

{% endblock %}              

{% block javascripts %}
{% endblock %}


