{# src/Cairn/UserCyclosBundle/Resources/views/Config/Account/edit_account.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="body_wrapper>
        <div class="well">
          {{ form(form) }}
        </div>

    </div>
{% endblock %}

