{# src/Cairn/UserCyclosBundle/Resources/views/Config/Group/add.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}


{% block body %}
    {{parent()}}

    <h3>Formulaire d'ajout</h3>

    <div class="well">
      {{ form_start(form) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}

    </div>
{% endblock %}
