{# src/Cairn/UserCyclosBundle/Resources/views/Config/Group/index.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <h2> Index de groupe </h2>
{% endblock %}
