{# src/Cairn/UserBundle/Resources/views/BankConnection/confirm_deposit.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block fos_user_content %}

<h3> Récapitulatif du dépôt en cours</h3>
   <li> {{deposit.nbEuros}}€      </li>  
   <li> {{deposit.nbCairns}} cairns</li>
   <li>Depuis le comptoir de change : {{deposit.exchangeOffice}}</li>
<div class="well">
  {{ form(form) }}
</div>
{% endblock %}

