{# src/Cairn/UserBundle/Resources/views/BankConnection/new_envelope.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block fos_user_content %}

<h3>Formulaire d'enrigstrement d'une nouvelle enveloppe</h3>

<div class="well">
  {{ form(form) }}
 {{ form_row(form.banknotes) }}
  <a href="#" id="add_banknote" class="btn btn-default">Ajouter un billet</a>
</div>
{% endblock %}

{% block javascripts %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
     </script>

//    <script type="text/javascript" src="withdrawal.js"></script>
{% endblock %}

