{# src/Cairn/UserBundle/Resources/views/BankConnection/new_deposit.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block fos_user_content %}

<h3>Formulaire d'enrigstrement d'un nouveau dépôt à la banque</h3>

<div class="well">
  {{ form(form) }}
</div>
{% endblock %}

