{# src/Cairn/UserBundle/Resources/views/BankConnection/view_deposit.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block fos_user_content %}

<h3>Dépôt</h3>

<div class="well">
<li> {{deposit.nbCairns}} </li>
<li> {{deposit.nbEuros}}  </li>
<li> {{deposit.exchangeOffice.name}} </li>
</div>
    <a href="{{ path('cairn_user_bankconnection_deposit_edit', {'id': deposit.id}) }}">
          Modifier le dépôt   
        </a>

{% endblock %}

