.idea
*.swp
*.swo
*.swn
*.swl
*.swm
*.swk
*.swh
*.swi
*.sw*

*~
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
composer.lock
.web-server-pid
bootstrap.php.cache
/app/config/parameters.yml
.env
/docs
/docker/logs/*
