{# src/Cairn/UserBundle/Resources/views/Pro/add_beneficiaries.html.twig #} 
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 
    <h2><i class="material-icons left">person_add</i>Ajouter un bénéficiaire</h2>
    <div class="row">
        {{ form_start(form) }}
        <div class="col s12 m8 l6">
            {{ form_rest(form) }}
        </div>
        {{form_end(form) }}   
    </div>
{% endblock %}