{# src/Cairn/UserBundle/Resources/views/Banknote/edit.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block fos_user_content %}

<h3>Modification du billet</h3>

<div class="well">
  {{ form(form) }}
</div>
{% endblock %}

