{# src/Cairn/UserBundle/Resources/views/Banknote/index.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block fos_user_content %}

<h3>Gestion des billets</h3>

  <p>
    <a href="{{ path('cairn_user_banknote_add') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Ajouter un billet
    </a>

     <a href="{{ path('cairn_user_banknote_search') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-edit"></i>
      Rechercher des billets
    </a>
   
  </p>

{% endblock %}

