{# src/Cairn/UserBundle/Resources/views/Default/howto_sms_page.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{ parent()  }}

    <h1> Règles d'utilisation </h1>
    <h2> Paiement par SMS </h2>

    {{include("CairnUserBundle:Default:howto_sms.html.twig")}}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row">
            {% if app.session.get('is_first_connection') == true %}
                <a class="waves-effect waves-teal btn right-align" href="{{ path('cairn_user_card_presentation') }}"><i class="material-icons right">arrow_forward</i>Continuer</a>
            {% else  %}
                <a class="waves-effect waves-teal btn right-align" href="{{ path('cairn_user_profile_view', {'username' : app.user.username }) }}"><i class="material-icons right">arrow_forward</i>Accéder à mon profil</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

