# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    router.request_context.host: momcompte.mlc.local
    router.request_context.scheme: https
    router.request_context.base_url:

    database_host: db
    database_port: 3306
    database_name: db-name
    database_test_name : db-name-test
    database_user: username
    database_password: pwd
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: cairn@cairn-monnaie.com
    mailer_port: 587
    mailer_password: abcdefg
    mailer_encryption: tls


    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    cairn_card_rows : 5
    cairn_card_cols : 5
    card_association_delay : 10

    cairn_email_noreply : noreply@cairn-monnaie.com
    cairn_email_technical_services : maintenance@cairn-monnaie.com
    cairn_email_management: app_management@gmail.com

    cairn_email_activation_delay : 10

    cairn_default_transaction_description : Virement Cairn
    cairn_default_conversion_description : Conversion euros-cairns
    cairn_default_withdrawal_description : Retrait Cairn
    cairn_default_deposit_description :  Dépôt Cairn
    cairn_default_reconversion_description : Reconversion cairns-euros

    cairn_default_register_url : ~
    cairn_default_cgu_url : ~
    cyclos_group_pros : 'Adhérents prestataires'
    cyclos_group_persons: 'Adhérents utilisateurs'
    cyclos_group_network_admins : Network administrators
    cyclos_group_global_admins : Global administrators
    cyclos_anonymous_user : anonyme

    cyclos_root_prod_url : 'http://cyclos-app:1234/'
    cyclos_root_test_url:  'http://cyclos-app:4321/'


    session_timeout: 1500
    cyclos_currency_cairn : cairn
    leading_company : 'Association Le Cairn'
    max_printable_cards : 20

    sms_daily_thresholds:
        amount:
            unique: 30 #no card key required to execute SMS payment
            cumulated: 100 #no card key required to execute SMS payment
            block: 500 #SMS payment is automatically disabled
        qty:
            step: 4 #no card key required to execute SMS payment
            block: 10 #SMS payment is automatically disabled

    helloasso_campaign_id: '0000011111122222'
    helloasso_api_login : login
    helloasso_api_password : password

    notificator_consts:
        sms:
            api_token: 'ThisTokenIsNotSoSecret'
            provider_url: 'https://sms-provider.com'
            originator: '+33611223344'
        webpush:
            private_key: 'ThisTokenIsNotSoSecret'
            public_key: 'ThisTokenIsNotSoSecret'
    online_payment_hosts: 'localhost$|domain.com$'
    api_secret: FuckYouCoronavirus

