{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h2>Inscription enregistrée <i class="material-icons">check</i></h2>
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    <br>
    <a class="waves-effect waves-teal btn" href="{{ path('cairn_user_welcome') }}"><i class="material-icons left">arrow_back</i>retour accueil</a>
{% endblock %}