html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

.page-footer {
  padding-top: 20px;
  color: #f07254;
  background-color: #f07254 ;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: #f07254;
  background-color: #f07254 ;
  margin: auto;
}

table.security-card {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  border: 1px solid black;
}

div.security-card {
  width: 1028px;
  height: 50%;
  border: 1px solid red;
}

table.security-card thead tr th{
  background-color: lightgray;
  border: 1px solid black;
  font-weight: bold;
}

.card-posy {
  background-color: lightgray;
  border: 1px solid black;
  font-weight: bold;
}

.card-posy-value .card-posx-value {
  font-weight: bold;
}

.card-key-value{
  font-weight: bold;
}

table.security-card > tbody > tr:nth-child(even) {
  background-color: rgba(170, 213, 213, 0.5);
  border: 1px solid black;
}

div.security-card-body {
  height: 673px;
}

em.security-card-owner{
  margin-right: 40px;
  color: #E96B46;
  font-weight: bold;
}

em.security-card-code{
  color: #E96B46;
  font-weight: bold;
}

.security-card-title span{
  color: #E96B46;
  font-weight: bold;
}

.security-card-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: stretch;
  justify-content: space-between;
}

.security-card-header div{
  border: 1px solid blue;
}

.security-card-warning {
  font-weight: bold;
}

.security-card-info .security-card-title{
  color: #f07254; 
  font-weight: bold;
}

.security-card-logo {
  box-sizing: border-box;
  width: 50%;
  margin-right: 0;
  display: -webkit-box; /* wkhtmltopdf uses this one */
  display: -webkit-flex;
  -webkit-box-pack: center; /* wkhtmltopdf uses this one */
  -webkit-justify-content: center;
}

img.security-card-logo {
  margin-right: 0;
  margin-left: 0;
}


.card-key {
  border: 1px solid black;
}

.w-100 {
  width: 100%;
}

.rotateimg90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

input[type=date]::-webkit-input-placeholder {
  visibility: hidden !important;
}

.card-code, .card-position {
  display: inline-block;
  background: #eaeaea;
  padding: 2px 10px;
  font-family: sans-serif;
  border: 1px solid #bbbbbb;
}

.nav-wrapper > ul {
  height: 100%;
}

#logo-container, #logo_user {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}
#logo-container a, #logo_user a {
  height: 100%;
}

#logo-container img, #logo_user img {
  height: 100%;
}

.login_splash {
  background-color: #f07254;
}
.login_splash .login_form {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px 0px;
}
.login_splash nav {
  display: none;
}

form .error {
  color: #e74c3c;
}

.teal.success {
  /*background-color: @light-green !important;*/
  background-color: #8bc34a !important;
}

.teal.error {
  /*background-color: @red !important;*/
  background-color: #f07254 !important;
}

.teal.warning {
  /*background-color: @orange !important;*/
  background-color: #ffe253 !important;
}

#network {
  margin-top: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

a:hover > img {
  opacity: 0.5;
}

nav {
  background-color: #f07254;
}

.dropify-wrapper + label {
  display: none;
}

.card.transaction {
  padding-top: 50px;
}
.card.transaction .card-content > img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}

/*# sourceMappingURL=ecairn.css.map */
