{# src/Cairn/UserBundle/Resources/views/Registration/register_adherent_content.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    <h1> Inscription impossible </h1>
        La création de compte n'est pour l'instant possible que pour les professionnels du réseau !
        
{% endblock %}
