{# src/Cairn/UserCyclosBundle/Resources/views/Config/TransferType/edit.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block body %}

    <h3>Frais de transfert</h3>
    
    <div class="well">
      {{ form(form) }}
    </div>
{% endblock %}

