{# src/Cairn/UserBundle/Resources/views/Admin/helloasso_credit.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    <div class="section">
      {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}

