{# app/Resources/CairnUserBundle/views/layout-pdf.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {# Layout for PDF files #}
    <div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ pathToWeb }}/bundles/cairnuser/css/ecairn.css" rel="stylesheet" type="text/css">
{% endblock %}
