{# app/Resources/CairnUserBundle/views/layout-pdf.html.twig #}
                                                                               
{% extends 'base.html.twig' %}

{% block body %}
    {# Layout for PDF files #}
    <div class="pdf-body">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    {# pathToWeb is a config twig variable used to get absolute urls while generating pdf files using knp-snappy. KnpSnappy does not know anything about the context of the project, so absolute path must be provided. asset function not working #}
    <link rel="stylesheet" href="{{pathToWeb}}/bundles/cairnuser/css/ecairn.css" type="text/css">
    <link rel="stylesheet" href="{{pathToWeb}}/bundles/cairnuser/materialize/css/materialize.css" type="text/css">
{% endblock %}

