{# src/Cairn/UserBundle/Resources/views/Banking/accounts_overview.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="row">
        <h1>Mes comptes</h1>
        {% if user.hasRole('ROLE_SUPER_ADMIN') or user.hasRole('ROLE_PRO') %}
        <div>
            <a href="{{path('cairn_user_banking_accounts_overview_download') }}" class="btn"><i class="material-icons left">file_download</i>Télécharger relevé de compte</a>
        </div>
        {% endif %}
        <div class="body_wrapper">
            {{include("CairnUserBundle:Banking:accounts_table.html.twig",{'accounts':accounts})}}
        </div>
        <div class="row">
        </div>

        <div class="center-align">
            Email à renseigner afin d'identifier mon compte [e]-Cairn : <b>{{app.user.email}}</b> <br>
            <a href="https://www.helloasso.com/associations/le-cairn-monnaie-locale-et-citoyenne/formulaires/3" target="_blank" class="btn"><i class="material-icons left">credit_card</i>Créditer mon compte [e]-Cairn</a>
        </div>


    </div>
{% endblock %}
