{# src/Cairn/UserBundle/Resources/views/Banking/add_account_score.html.twig #}         
                                                                               
{% extends "CairnUserBundle::layout.html.twig" %}                        
                                                                               
{% block title %}{% endblock %}                                                                 
                                                                               
{%block stylesheets %}
{% endblock %}

{% block body %}
    <div class="section">
      {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.timepicker').timepicker({
                twelveHour: false
            });
        });
    
    </script>

{% endblock %}
