{# src/Cairn/UserBundle/Resources/views/Banking/next_operation.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block title %}
  Réseau du Cairn - {{ parent() }}
{% endblock %}

{% block fos_user_content %}

      <h2>  L'opération a eu lieu à {{payment.date}} </h2>
  <p>
    <a href="{{ path('cairn_user_banking_operations') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Nouvelle opération
    </a>
     <a href="{{ path('cairn_user_cyclos_banking_transfer') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Nouveau virement
    </a>

  </p>

{% endblock %}
