{# src/Cairn/UserBundle/Resources/views/Banking/reconversion_operations.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}}

    <div class="body_wrapper>
        <div id="reconversion_action">
            <h1> Les reconversions </h1>
           <ul>
                <li><a href="{{path('cairn_user_banking_reconversion_request')}}"> Effectuer une reconversion     </a> </li>
           <ul> 
        </div>
        <div id="reconversion_management">
            <h1> Gérer les reconversions </h1>
            <ul>
                <li><a href="{{path('cairn_user_banking_operations_view',{'frequency':'unique','type':'reconversion'})}}"> Voir mes reconversions </a></li>
            </ul>
        </div>
{% endblock %}


