{# src/Cairn/UserBundle/Resources/views/Banking/scheduled_block_confirm.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}} </br>
    <em> Le virement ne sera pas réalisé à la date prédéfinie. Voulez-vous continuer ? </em>
    <div class="well">
      {{ form_start(form) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
<div>

{% endblock %}
