{# src/Cairn/UserBundle/Resources/views/Banking/scheduled_open_confirm.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}} </br>
    <em> Si la date d'éxecution du virement est antérieure à la date du jour, le virement sera réalisé maintenant. Voulez-vous continuer ? </em>
    <div class="well">
      {{ form_start(form) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
<div>

{% endblock %}
