{# src/Cairn/UserBundle/Resources/views/Banking/scheduled_cancel_confirm.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{% block body %}
    {{parent()}} </br>
    <em> L'annulation entraîne une suppression définitive du virement. Voulez-vous continuer ? </em>
    <div class="well">
      {{ form_start(form) }}
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
<div>

{% endblock %}
