{# src/Cairn/UserBundle/Resources/views/Card/card_operation.html.twig #}         

    {% set card = user.card %}
    {% if card and card.isGenerated %}
        <a class="btn red" href="{{path('cairn_user_card_revoke',{'id':user.id})}}"><i class="material-icons left">clear</i>Déclaration de perte</a>
        {% if user == app.user  %}
            {% if not card.enabled and card.isGenerated%}
                <a class="btn green" href="{{path('cairn_user_card_validate')}}">Activer la carte </a>
            {% endif %}
        {% endif %}

    {% elseif not card %}
        <a class="btn teal" href="{{path('cairn_user_card_order',{'id':user.id})}}">Commander une carte </a>
    {% else %}
        {% if user.hasReferent(app.user) and not card.isGenerated %}
            <a class="btn green" href="{{path('cairn_user_card_generate',{'id':user.id})}}">Générer la carte </a>
        {% else %}
            Carte en attente de génération.
        {% endif %}
    {% endif %}