{# src/Cairn/UserBundle/Resources/views/Card/card_operation.html.twig #}         

    {% set card = user.card %}
    {% if card %}
        <a class="btn red" href="{{path('cairn_user_card_revoke',{'id':user.id})}}"><i class="material-icons left">clear</i>Révoquer la carte </a>

    {% else %}
        <a class="btn teal" href="{{path('cairn_user_card_associate',{'id':user.id})}}"> Associer une carte existante </a>
        {% if user.hasReferent(app.user)%}
            <a class="btn green" href="{{path('cairn_user_card_download',{'id':user.id})}}"> Télécharger une nouvelle carte et l'associer à {{user.name}} </a>
        {% endif %}
    {% endif %}
