{# src/Cairn/UserBundle/Resources/views/Card/warning_card_tries.html.twig #}         

    {% set alreadyTried = app.user.cardKeyTries %} 
    {% if alreadyTried != 0 %}
        <div class="red-text">
            {% set remaining = 3 - alreadyTried %}
            <strong>Attention : </strong> Il vous reste {{remaining}} tentative(s) possible(s). Votre compte sera ensuite bloqué en cas d'échec.</br>
        </div>
    {% endif %}

