{# src/Cairn/UserBundle/Resources/views/Emails/confirm_user.html.twig #}

{% extends "CairnUserBundle::layout.html.twig" %}

{%block stylesheets %}
{% endblock %}

{% block body %}
    {{parent()}} 

<h3>Finalisation de l'inscription </h3>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}

