{# src/Cairn/UserBundle/Resources/views/Emails/email_confirmation.html.twig #}

{% block subject %}Changement de mot de passe{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Bonjour {{ user.name }} !

        Vous avez soumis une demande d'inscription via cette adresse mail.
        Merci de valider votre adresse email en cliquant sur ce lien : {{ confirmationUrl }}

        Le Cairn

        NB : Cet email contient des informations sensibles. Notez-les et supprimez le.
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    Bonjour <b>{{ user.name }}</b> !

    Vous avez soumis une demande d'inscription via cette adresse mail.
    Merci de valider votre adresse email en cliquant sur ce <a href="{{ confirmationUrl }}">lien</a>

    Le Cairn

    NB : Cet email contient des informations sensibles. Notez-les et supprimez le.
{% endblock %}