{# src/Cairn/UserBundle/Resources/views/Emails/reminder_email_activation.html.twig #}

Il vous reste {{remainingDays}} jour(s) pour procéder à l'activation. Pour des raisons de sécurité, votre compte sera automatiquement supprimé.
Vous pouvez valider votre adresse mail en cliquant sur ce <a href="{{ confirmationUrl }}">lien</a>

Une validation de l'équipe administrative sera ensuite nécessaire pour valider définitivement votre compte.

Le Cairn,

