{# src/Cairn/UserCyclosBundle/Resources/views/Config/User/edit.html.twig #}

{% extends "CairnUserCyclosBundle::layout.html.twig" %}

{% block fos_user_content %}

<h3>Utilisateur</h3>

<div class="well">
  {{ form(form) }}
</div>
{% endblock %}

